body{
    margin: 0;
    padding: 0;
}
.menu{
    background-color: red;
    height: 45px;
    padding: 20px;
}
.logo-title{
   display: inline;
}
.list{
    margin-left: 760px;
    display: inline;

}
.list a{
    text-decoration: none;
}

.list a:hover{
    background-color: green;
    padding: 10px;
    border-radius: 5px;
    color: wheat;
}

.list a li {
    font-size: 20px;
    font-weight: 700;
    display: inline;
    padding:20px;
    list-style: none; 
}
.top-banner{
    background-image: url(images/bg-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}

.top-banner{
    margin-top: -27px;
}
.about-banner{
    text-align: center;
    padding-top: 250px;
}
.about-banner h4{
    font-size: 30px;
    color: whitesmoke
}
.about-banner h1{
    font-size: 50px;
    color: whitesmoke
}
.about-banner p{
    color: whitesmoke;
    font-size: 20px;
}

.anchor-btn{
    text-decoration: none;
    background-color: brown;
    color: beige;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
    margin-left: 10px;
}

.mid-section{
    margin-bottom: 150px;
}
.card-title{
    font-size: 60px;
    text-align: center;
}
.card{
    background-color: rgb(206, 224, 206);
    margin: 35px;
    padding: 30px;
    border-radius:10px;
    box-shadow: 0px 0px 40px 10px grey;
}
.card-section{
    display: flex;
}

.card img{
    width: 100px;
}
.card p{
    text-align: start;
    font-weight: 600;
}

.card a {
    font-size: 20px;
    font-weight: 600;
    color: brown;
}

.about{
    background-color: rgb(1, 1, 20);
    color: wheat;
    margin-bottom: 150px;
    height: 750px;
}
.about-title {
    font-size: 50px;
    color: aliceblue;
    text-align: center;
}
.total-width {
    display: flex;
    width: 100%;
}
.line{
   width: 77%;
   height: 2px;
   background-color: rgb(192, 59, 59);
   border: none;
}
.line2{
    width: 90%;
    height: 2px;
    background-color: rgb(30, 185, 43);
    border: none; 
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 40%;
    padding-left: 50px;
}

.experience {
    font-size: 50px;
}

.lorem {
    font-size: 20px;
    font-weight: 600;
}

ul li{
    font-size: 30px;
}
.shape{
    background-image: url(images/shape/Group_33094_1.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 250px;
    width: 800px;
    margin: auto;
    margin-bottom: 150px;
}

.shape-in {
    display: flex;
    align-items: center;
    padding: 70px 130px;
}
.shape-in h1{
    color: aliceblue;
}
.shape-in button {
    font-size: 20px;
    border: none;
    font-weight: 700;
    align-items: center;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 20px;
    
}